@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Courgette', cursive;
    margin: 0rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    background-color: yellow;
    padding: 2rem;
    display: block;
    margin: 0rem;
}
.op-state{
    font-size: 20px;
}
#click{
    display: inline-flex;
    
    padding: 1rem 1rem;
    font-size: 1rem;
    font-family: 'Courgette', cursive;
    background-color: yellow;
    margin-left: 125px;
}
#txt-output
{
    border: 1px solid black;
    width: 80%;
    height: 3rem;
    margin-bottom: 10rem;
    padding: 1rem;
    max-width: 540px;
   
}
#txt-input{
    box-sizing: border-box;
    width: 80%;
    height: 10rem;
    margin-top: 2rem;
    padding: 1rem;
    max-width: 540px;
    font-family: 'Courgette', cursive;   
}
.center
{
    display: flex;
    margin: auto;
    
}
footer{
    background-color: yellow;
    text-align: center;
    padding: 1rem 2rem 3rem 2rem; 
}
/* .op-state .center{
    display: flex;
    margin: auto;
    margin-left: 4rem; 
    padding: 10rem;
} */